DEBUG=False
SECRET_KEY=change-me-to-a-long-random-value
ALLOWED_HOSTS=localhost,127.0.0.1,api.lotof.intratec.dev.br
CSRF_TRUSTED_ORIGINS=https://api.lotof.intratec.dev.br,https://lotof.intratec.dev.br
CORS_ALLOWED_ORIGINS=https://lotof.intratec.dev.br
DATABASE_URL=postgresql://postgres:password@db.example.supabase.co:5432/postgres
